.git_blog{
    border: 5px solid rebeccapurple;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rebeccapurple;
    text-align: justify;
}
img{
    height: 50%;
    width: 50%;
}